:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: #202020;
  color: #FEFEFE;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Quicksand";
}

.buttonBqz{
  background-color: #D9EAF8;
  border-radius: 5px;
  border-width: 0px;
  padding: 4px 8px;
  color: #202020;
  font-family: "Quicksand";
  cursor: pointer;
}
a{
  color: #202020!important;
  text-decoration: none;
}

input{
  border-radius: 6px;
  border-width: 0px;
  padding:10px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gridjs-wrapper{
  max-width: fit-content!important;
}